body {
    background-color:#F0FFFF;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: default;
}

/* HEADER CABECERA */
#headerMain {
    display: flex;
    background-color: lightblue;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}
#text-enc {
    margin-left: 80px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight: bold;
}

nav {
    align-self: center;
    margin-right: 30px;
}

.iconsRedes {
    flex-wrap: wrap;
    list-style: none;
    float: right;
    padding: 5px;
}

.imgIcons {
    height: 40px;
    width: 40px;
}

.imgIcons:hover {
    transform: scale(1.1, 1.1);
}

/* SECTION INFORMACION */
#content-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 150px;
}

#content-info:hover {
    transform: scale(0.9, 0.9);
    transition: 1.5s;
    background-color: antiquewhite;
}

#allDatos {
    display: grid;
    grid-template-rows: 9% 9% 15%;
    margin-top: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
    margin-left: 15px;
}

#datosPersonal1 {
    display: grid;
    text-align: center;
}

#datosPersonal2 {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-row-start: 4;
}

.titleDatos {
    font-weight: bold;
}

#range {
    font-style: italic;
}

#content-Cinta{
    display: grid;
    justify-content: center;
    grid-row-start: 3;
}

#datosP {
    display: flex;
    justify-content: center;
}

/* SECTION EDUCACION */
#content-educacion {
    display: grid;
    margin-top: 10px;
}

#titleEdu {
    display: flex;
    height: 50px;
    justify-content: center;
}

#contentEdu{
    display: grid;
    grid-template-columns: 4fr 20px 4fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    background-color: lightblue;
    border-style: ridge;
}

#primaria {
    display: grid;
    justify-content: flex-end;
    text-align: right;
    background-color: white;
    border-style: inset;
    margin-left: 5px;
    margin-top: 5px;
}

#secundaria {
    display: grid;
    grid-area: 2/3;
    justify-content: flex-start;
    background-color: white;
    border-style: outset;
    margin-right: 5px;
}

#universidad {
    display: grid;
    grid-area: 4/3;
    justify-content: flex-start;
    background-color: white;
    border-style:outset;
    margin-right: 5px;
    margin-bottom: 5px;
}

#sindicato {
    display: grid;
    grid-area: 3/1;
    justify-content: flex-end;
    text-align: right;
    background-color: white;
    border-style: inset;
    margin-left: 5px;
    margin-top: 5px;
}

#primaria:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s;
    background-color: antiquewhite;
    cursor: default;
}
#secundaria:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s;
    background-color: antiquewhite;
    cursor: default;
}
#universidad:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s;
    background-color: antiquewhite;
    cursor: default;
}
#sindicato:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s;
    background-color: antiquewhite;
    cursor: default;
}

/* SECTION TECNOLOGIAS */
#content-tecno {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

#contentTecno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    margin-left: 25%;
    margin-right: 25%;
    gap: 10px;
    text-align: center;
}

#titleTecno {
    display: flex;
    justify-content: center;
}

#python {
    grid-area: 2/1;
}
#java {
    grid-area: 3/1;
}
#html {
    grid-area: 4/1;
}
#css {
    grid-area: 5/1;
}
#DB {
    grid-area: 6/1;
}
#gt {
    grid-area: 7/1;
}

hr {
    height: 75%;
    background-color: black;
    margin: 0;
}

#porcPython {
    margin-right: 35%;
    grid-area: 2/2;
}
#porcJava {
    margin-right: 35%;
    grid-area: 3/2;
}
#porcHtml {
    margin-right: 20%;
    grid-area: 4/2;
}
#porcCss {
    margin-right: 20%;
    grid-area: 5/2;
}
#porcDB {
    margin-right: 60%;
    grid-area: 6/2;
}
#porcGt {
    margin-right: 80%;
    grid-area: 7/2;
}

#contentTecno:hover {
    transform: scale(1.1, 1.1);
    transition: 1.0s;
    background-color: antiquewhite;
    cursor: default;
}

/* SECTION EXPERIENCIA */
#content-experencia {
    display: grid;
    margin-top: 10px;
}

#titleExp {
    display: flex;
    height: 50px;
    justify-content: center;
}

#contentExp{
    display: grid;
    grid-template-columns: 4fr 20px 4fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    background-color: lightblue;
    border-style: inset;
    cursor: default;
}

#TS-velasco {
    display: grid;
    justify-content: flex-end;
    text-align: right;
    background-color: white;
    border-style:ridge;
    margin-left: 5px;
    margin-top: 5px;
}

#FV-jardin {
    display: grid;
    grid-area: 2/3;
    justify-content: flex-start;
    background-color: white;
    border-style: ridge;
    margin-right: 5px;
}

#BK-posada {
    display: grid;
    grid-area: 3/1;
    justify-content: flex-end;
    text-align: right;
    background-color: white;
    border-style: ridge;
    margin-left: 5px;
    margin-bottom: 5px;
}

#TS-velasco:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s;
    background-color: antiquewhite;
}
#FV-jardin:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s;
    background-color: antiquewhite;
}
#BK-posada:hover {
    transform: scale(1.1, 1.1);
    transition: 0.4s;
    background-color: antiquewhite;
}

/* SECTION IDIOMAS */
#content-idiomas {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

#contentIdiom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-left: 25%;
    margin-right: 25%;
    gap: 10px;
    text-align: center;
}

#titleIdiom {
    display: flex;
    justify-content: center;
}

#español {
    grid-area: 2/1;
}
#ingles {
    grid-area: 3/1;
}

hr {
    height: 75%;
    background-color: black;
    margin: 0;
}

#porcEspañol {
    margin-right: 5px;
    grid-area: 2/2;
}
#porcIngles {
    margin-right: 65%;
    grid-area: 3/2;
}

#contentIdiom:hover {
    transform: scale(1.1, 1.1);
    transition: 1.0s;
    background-color: antiquewhite;
    cursor: default;
}

/* Section sobre mí */
#content-SobreM {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

#titleSM {
    display: flex;
    justify-content: center;
    cursor: default;
}

#contentSM {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: lightblue;
    margin-bottom: 20px;
    border-style: ridge;
    cursor: default;
}

/* PIE DE PÁGINA */
.pie-pagina{
    width: 100%;
}

#pie-pagina #grupo-1{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
#pie-pagina #grupo-1 small{
    font-size: 15px;
}
